.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-transparent);

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.6s linear;
    -o-transition: opacity 0.6s linear;
    transition: opacity 0.6s linear;
}
.popup.active {
    visibility: visible;
    opacity: 1;
}

.popup-form {
    background-color: var(--white);
    width: 500px;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    padding: 20px 30px 0;
    position: relative;
}

.input-field {
    position: relative;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
    width: fit-content;
}

.input-field input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: linear-gradient(90deg, #222, #222) center bottom/0 0.15em no-repeat,
        linear-gradient(90deg, #ccc, #ccc) left bottom/100% 0.15em no-repeat,
        linear-gradient(90deg, var(--white), var(--white)) left bottom/100% no-repeat;
    transition: background-size 0.3s ease;
    padding: var(--field-padding);
    border-radius: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
}

.input-field.desc input {
    width: 400px;
}

.input-field .placeholder {
    position: absolute;
    left: var(--field-padding);
    width: calc(100% - (var(--field-padding) * 2));
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 22px;
    line-height: 100%;
    transform: translateY(-50%);
    color: var(--gray);

    font-size: 16px;
    -webkit-transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
    -o-transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
    transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.input-field input.dirty + .placeholder,
.input-field input:focus + .placeholder,
.input-field input:not(:placeholder-shown) + .placeholder {
    top: -10px;
    font-size: 14px;
    color: var(--black);
}

.input-field input.dirty,
.input-field input:not(:placeholder-shown),
.input-field input:focus {
    background-size: 100% 0.15em, 100% 0.1em, 100%;
}

.titleErrors {
    color: var(--error);
    padding: 5px 0 0 5px;
}

.popup-buttons {
    padding: 20px;
    text-align: right;
}

.popup-buttons > button {
    margin-left: 20px;
    border: none;
    background: transparent;
    color: var(--black);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

#close {
    border: none;
    background: transparent;
    position: absolute;
    top: 20px;
    right: 30px;
    font-weight: bold;
    font-size: 24px;
}
