@import url("buttons.css");
@import url("popup.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: url(../assets/background-image.jpg) no-repeat fixed;
    background-size: cover;
    font-family: "Roboto", sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
}

header {
    min-height: fit-content;
    padding-top: 20px;

    /* unselectable */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}
header h1 {
    color: #f1f1f1;
    text-align: center;
    font-weight: 400;
    letter-spacing: 3px;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.list {
    width: 20%;
    min-width: 200px;
    height: fit-content;
    max-height: 600px;
    overflow: auto;
    padding: 20px;
    background-color: #ddd;
    border-radius: 3px;
    transition: 0.3s;
}

.list h1 {
    font-size: 22px;
    padding: 5px;

    /* unselectable */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.listHeader {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #f1f1f1;
    box-shadow: 2px 2px 5px #555;
    padding: 15px;
    margin-top: 20px;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgba(85, 85, 85, 0.25);
}

.card .title {
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card.dragging {
    opacity: 0.5;
    background-color: rgb(190, 190, 190);
}

@media screen and (max-width: 1200px) {
    .list {
        width: 40%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 620px) {
    header h1 {
        margin: 0 auto;
        width: 400px;
        letter-spacing: 2px;
    }
    .container {
        width: 100%;
    }
    .list {
        width: 80%;
        margin-bottom: 30px;
    }
}
