@import url("variables.css");
@import url("popup.css");
@import url("buttons.css");

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    background: url(../assets/background-image.jpg) no-repeat fixed;
    background-size: cover;
    font-family: "Roboto", sans-serif;
}
.container {
    width: 90%;
    margin: 0 auto;
    max-width: 2000px;
}

header {
    min-height: fit-content;
    padding: 20px;

    /* unselectable */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}
header h1 {
    color: var(--white);
    text-align: center;
    font-weight: 400;
    letter-spacing: 3px;
}

main {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}

.list {
    width: 20%;
    min-width: 200px;
    height: fit-content;
    max-height: 600px;
    overflow: auto;
    padding: 20px;
    background-color: rgba(91, 161, 241, 0.959);
    color: var(--white);
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 8px #f3f3f380;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.list h1 {
    font-size: 22px;
    padding: 5px;

    /* unselectable */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
}

.listHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

/* list scrollbar */
.list::-webkit-scrollbar {
    width: 10px;
}
.list::-webkit-scrollbar-track {
    background: transparent;
}

.list::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius);
    background: var(--white);
}

.list::-webkit-scrollbar-thumb:hover {
    background-color: rgba(91, 161, 241, 0.959);
}

.card {
    background-color: rgba(253, 253, 253, 0.918);
    color: var(--black);
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 5px var(--black);
    padding: 20px;
    margin-top: 20px;

    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    -webkit-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px #e0e0e07a;
}

.card .title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card .description {
    font-size: 0.9rem;
    white-space: normal;
    overflow: hidden;
    word-break: break-word;
}

.card.dragging {
    opacity: 0.8;
    background-color: rgba(85, 85, 85, 0.45);
}

@media screen and (max-width: 1200px) {
    .list {
        width: 40%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 620px) {
    header h1 {
        margin: 0 auto;
        width: 400px;
        letter-spacing: 2px;
    }
    .container {
        width: 100%;
    }
    .list {
        width: 80%;
        margin-bottom: 30px;
    }
}
