:root {
    --white: #f3f3f3;
    --light-gray: #999;
    --gray: #555;
    --black: #222;
    --dark-transparent: #2a4679a1;
    --error: #ee1717;
    --edit: #ffac2e;
    --field-padding: 12px;
    --border-radius: 6px;
}
